{# src/DnDInstance/CharacterBundle/Resources/views/CharacterUsed/register.html.twig #}
 
{% extends "DnDInstanceCharacterBundle:CharacterUsed:layout.html.twig" %}

{% block title %}
    Dons - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    Dons
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('dndinstance_characterused_characterused_view', {'slug': characterUsed.slug}) }}">{{characterUsed.name}}</a></li>
    <li class="active">Dons</li>
{% endblock %} 

{% block PM_body %}
<div class="row">
    <section id="content" class="col-sm-8">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="well">
            {% include "DnDInstanceCharacterBundle:CharacterUsed:Gift/edit_content.html.twig" %}
        </div>
    </section>
    <aside class="col-sm-4">
        <div class="well">
            <h4>Vos dons</h4>
            <p class="text-info">Vous avez actuellement droit à {{ dndinstance_character_characterusedgift.getAllowedGiftsNumber(characterUsed) }} dons.</p>
            <p><small>Ce calcul tient compte de votre niveau et des avantages liés à la race de votre personnage.
                    Consultez le <a href="http://documents.karl-pineau.fr/d&d/Manuels/MdJ.pdf" target="_blank">Manuel du Joeur</a> pour plus de détail.</small></p>
        </div>
        <div class="well">
            <h4>Les dons</h4>
            <p>La maîtrise de dons permet d'améliorer les capacités de votre personnage dans des domaines spécialisés.</p>
            <p>Pour en savoir plus sur chaque don disponible, <a href="{{ path('dndrules_gift_gift_home') }}" target="_blank">consultez cette section</a> ou
                <a href="http://documents.karl-pineau.fr/d&d/Manuels/MdJ.pdf" target="_blank">le Manuel des Joueurs</a>.</p>
        </div>
    </aside>
</div>
{% endblock %}
    
{% block javascripts_block %}
    {# javascripts  '@DnDInstanceCharacterBundle/Resources/public/js/editCharacterUsed.js'  %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts #}
{% endblock %}
