{# src/DnDRules/CharacterBundle/Resources/views/Race/view.html.twig #}
 
{% extends "DnDRulesRaceBundle:Race:layout.html.twig" %}

{% block title %}
    {{ race.name }} - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    {{ race.name }}
{% endblock %}
    
{% block h1_extend %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="btn-group">
            <a class="btn btn-primary" href="{{ path('dndrules_race_race_edit', {'id': race.id}) }}" >Modifier</a>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="{{ path('dndrules_race_race_edit_skill', {'id': race.id}) }}" >Compétences</a></li>
                <li><a href="{{ path('dndrules_race_race_edit_level', {'id': race.id}) }}" >Niveaux</a></li>
                <li><a href="{{ path('dndrules_race_race_edit_st', {'id': race.id}) }}" >Jets de Sav.</a></li>
                <li role="separator" class="divider"></li>
                <li><a class="bg-danger main-JS-delete" href="{{ path('dndrules_race_race_delete', {'id': race.id}) }}" >Supprimer</a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">{{race.name}}</li>
{% endblock %} 

{% block PM_body %}
<div class="row">
    <section id="content" class="col-md-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id="UserTab">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Présentation</a></li>
                <li role="presentation"><a href="#modifiers" aria-controls="modifiers" role="tab" data-toggle="tab">Modificateurs</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    {% include 'DnDRulesRaceBundle:Race:View/view_home.html.twig' %}
                </div>
                <div role="tabpanel" class="tab-pane" id="modifiers">
                    {% include 'DnDRulesRaceBundle:Race:View/view_modifiers.html.twig' %}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}