{# src/DnDInstance/CharacterBundle/Resources/views/Language/register_content.html.twig #}

<form class="form-horizontal" method="post" action="{{ path('dndinstance_fight_edit_characterUsed', {'fightCharacterUsedInstance_id': fightCharacterUsed.id, 'game_id': game.id}) }}" {{ form_enctype(form) }} role="form">
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
        {{ form_errors(form.initiative) }}
    </div>
    <br />
    {% endif %}
            
    <fieldset>
        <legend>Personnage :</legend>

        <div class="form-group">
            <div class="col-md-3 control-label">
                {{ form_label(form.initiative, "Initiative :", {'label_attr': {'class': 'control-label'}}) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.initiative, {'attr': {'placeholder': 'Nom de votre personnage', 'class': 'form-control'}}) }}
            </div>
         </div>
    </fieldset>
        <br />
    {{ form_rest(form) }}
    <div class="text-center"><input type="submit" class="btn btn-primary" /></div>
</form>