{# src/DnDRules/ArmorBundle/Resources/views/ArmorType/view.html.twig #}
 
{% extends "DnDRulesArmorBundle:ArmorType:layout.html.twig" %}

{% block title %}
    {{ armortype.name }} - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    {{ armortype.name }} :
{% endblock %}
    
{% block h1_extend %}
    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-primary" href="{{ path('dndrules_armor_armortype_edit', {'slug': armortype.slug}) }}" >Modifier</a>
    <a class="btn btn-danger main-JS-delete" href="{{ path('dndrules_armor_armortype_delete', {'slug': armortype.slug}) }}" >Supprimer</a>
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">{{armortype.name}}</li>
{% endblock %} 

{% block PM_body %}
<div class="row">
    <section id="content" class="col-lg-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <h2>Texte descriptif</h2>
        {% if armortype.description is not empty %}
            <div class="well">
                {{ armortype.description|raw }}
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">Aucune description fournie pour cette type d'armure.</div>
        {% endif %}
    </section>
</div>
{% endblock %}