{# src/DnDRules/MonsterBundle/Resources/views/Monster/view.html.twig #}
 
<ul>
    <li>Points de vie moyens : {{monster.hpAverage}}</li>
    <li>Dé de vie : 
        {% if monster.hpForm is not empty %}
            {% for diceForm in monster.hpForm %}
                {% for diceEntity in diceForm.diceEntities %}
                    {{ diceEntity.diceNumber }}d{{diceEntity.diceType.dice}}
                {% else %}
                    diceEntity vide
                {% endfor %}
                {% for bonusNumber in diceForm.bonusNumbers %}
                    Bonus : {{ bonusNumber.value }}
                {% else %}
                    bonusNumber vide
                {% endfor %}
            {% else %}
                diceForm vide
            {% endfor %}
        {% endif %}
    </li>
    <li>Vitesse de déplacement au sol : {{monster.speed}}</li>
    <li>
        Autres modes de déplacement :
        {% for speedSpecialInstance in monster.speedSpecialInstances %}
            <a href="{{path('dndrules_monster_speedspecial_view', {'slug':speedSpecialInstance.speedSpecial.slug})}}" target="_blank">{{speedSpecialInstance.speedSpecial.name}}</a>: {{speedSpecialInstance.value}}
        {% else %}
            Pas d'autres modes de déplacement connus.
        {% endfor %}
    </li>
    <li>Espace au sol : {{monster.spaceOccupied}}</li>
    <li>Zone de danger : {{monster.areaLying}}</li>
    <li>Facteur de Puissance : {{monster.powerfullFactor}}</li>
    <li>Caractéristiques :</li>
    <ul>
        {% for abilityInstance in monster.abilityInstances %}
            <li><a href="{{path('dndrules_ability_ability_view', {'slug': abilityInstance.ability.slug})}}" target="_blank">{{abilityInstance.ability.name}}</a> : {{abilityInstance.value}}</li>
        {% else %}
            <li>Aucune caractéristique connue pour ce monstre</li>
        {% endfor %}   
    </ul>
    <li>Compétences :</li>
    <ul>
        {% for skillInstance in monster.skillInstances %}
            <li><a href="{{path('dndrules_skill_skill_view', {'slug': skillInstance.skill.slug})}}" target="_blank">{{skillInstance.skill.name}}</a> : {{skillInstance.ranks}}</li>
        {% else %}
            <li>Aucune compétence connue pour ce monstre</li>
        {% endfor %}   
    </ul>
</ul>