{# src/DnDInstance/CharacterBundle/Resources/views/CharacterUsed/view_gifts.html.twig #}
<div class="panel-group" id="accordionWeaponInstances" role="tablist" aria-multiselectable="true">
    {% for weaponInstance in dndinstance_weapon_weaponinstance.getWeapons(characterUsed) %}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-weaponInstances-{{characterUsed.slug}}-{{weaponInstance.id}}">
            <div class="pull-right">
                <a href="{{ path('dndinstance_weapon_weapon_edit', {'id': weaponInstance.id}) }}"><i class="fa fa-edit"></i></a>
                <a href="{{ path('dndinstance_weapon_weapon_remove_fromCharacter', {'characterUsed_id': characterUsed.id, 'instance_id': weaponInstance.id, 'game_id': characterUsed.game.id}) }}" class="text-warning"><i class="fa fa-trash"></i></a>
            </div>
            <h5 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordionWeaponInstances" href="#collapse-weaponInstances-{{characterUsed.slug}}-{{weaponInstance.id}}" aria-expanded="false" aria-controls="collapse-weaponInstances-{{characterUsed.slug}}-{{weaponInstance.id}}">
                {{weaponInstance.name}}
                </a>
            </h5>
        </div>
        <div id="collapse-weaponInstances-{{characterUsed.slug}}-{{weaponInstance.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-weaponInstances-{{characterUsed.slug}}-{{weaponInstance.id}}">
            <div class="panel-body">
                {{weaponInstance.weapon.name}} <a href="{{path('dndrules_weapon_weapon_view', {'slug': weaponInstance.weapon.slug})}}" target="_blank"><i class="fa fa-info-circle"></i></a>
                                
                <table class="table">
                    <caption>Valeurs d'attaque pour cette arme</caption>
                    <tr>
                        <th class="text-center">Mod. Lutte</th>
                        <th class="text-center"><abbr title="Bonus de Base à l'Attaque">BBA</abbr></th>
                        <th class="text-center">Mod. Force</th>
                        <th class="text-center">Mod. Taille</th>
                    </tr>
                    <tr class="text-right">
                        <th class="text-right">
                        {% for grappleModifier in dndinstance_character_characteruseddnd.getGrappleModifier(characterUsed, weaponInstance) %}
                            +{{grappleModifier}}
                        {% endfor %}
                        </th>
                        <td>
                        {% for bab in babs %}
                            +{{bab.value}}
                        {% endfor %}
                        </td>
                        <td>
                        {% if weaponInstance.weaponCategory == 2 %}
                            {% for abilityName, abilityValue in abilities %}
                                {% set abilityModifier = dndinstance_character_characterusedability.getAbilityModifier(abilityValue) %}
                                {% if abilityName == "dexterity" %}   
                                    {% if abilityModifier >= 0%}+{% endif %}{{abilityModifier}}
                                {% endif %} 
                            {% endfor %}
                        {% else %}
                            {% for abilityName, abilityValue in abilities %}
                                {% set abilityModifier = dndinstance_character_characterusedability.getAbilityModifier(abilityValue) %}
                                {% if abilityName == "strength" %}   
                                    {% if abilityModifier >= 0%}+{% endif %}{{abilityModifier}}
                                {% endif %} 
                            {% endfor %}
                        {% endif %}
                        </td>
                        <td>{{characterUsed.race.size.modifier}}</td>
                    </tr>
                </table>
                <hr />
                <ul>
                    <li>Dommages :
                        <ul>
                        {% for damageWeapon in weaponInstance.damages %}
                            <li>
                            {% if characterUsed.race.size.name == damageWeapon.size.name %}<strong>{% endif %}
                                {{damageWeapon.size.name}} :
                            {% if characterUsed.race.size.name == damageWeapon.size.name %}</strong>{% endif %}
                            {% for damage in damageWeapon.damages %}
                                {% for diceEntity in damage.diceEntities %}
                                    {{ diceEntity.diceNumber }}d{{diceEntity.diceType.dice}}
                                {% else %}
                                    diceEntity vide
                                {% endfor %}
                                {% for bonusNumber in damage.bonusNumbers %}
                                    (Bonus : {{ bonusNumber.value }})
                                {% else %}
                                    bonusNumber vide
                                {% endfor %}
                            {% else %}
                                diceForm vide
                            {% endfor %}
                            </li>
                        {% else %}
                            <li>Pas de dommages renseignés</li>
                        {% endfor %}
                        </ul>
                    </li>
                    <li>Critique : 
                        {% for critical in weaponInstance.criticals %}
                            {{critical.rangeCriticalBegin}}-{{critical.rangeCriticalEnd}} : x{{critical.multiplier}}
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% else %}
        <div class="alert alert-warning" role="alert">Aucune arme pour le moment.</div>
    {% endfor %}
</div>