{# src/DnDRules/MonsterBundle/Resources/views/Monster/register_content.html.twig #}

<form class="form-horizontal" method="post" action="{{ path('dndrules_monster_monster_edit_ability', {'id': monster.id}) }}" {{ form_enctype(form) }} role="form">
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
        {{ form_errors(form.abilityInstances) }}
    </div>
    <br />
    {% endif %}

    <fieldset>
        <legend>Caractéristiques :</legend>

        {{ form_widget(form.abilityInstances) }}
    </fieldset>
        <br />
    {{ form_rest(form) }}
    <div class="text-center"><input type="submit" class="btn btn-primary" /></div>
</form>