{# src/DnDInstance/CharacterBundle/Resources/views/CharacterUsed/register_skills.html.twig #}
 
{% extends "DnDInstanceCharacterBundle:CharacterUsed:layout.html.twig" %}

{% block title %}
    Compétences - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    Compétences
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('dndinstance_characterused_characterused_view', {'slug': characterUsed.slug}) }}">{{characterUsed.name}}</a></li>
    <li class="active">Compétences</li>
{% endblock %}

{% block PM_body %}
<div class="row">
    <section id="content" class="col-lg-8">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="well">
            {% include "DnDInstanceCharacterBundle:CharacterUsed:Skills/edit_skills_content.html.twig" %}
        </div>
    </section>
    <aside class="col-lg-4">
        <div class="well">
            <h3>Répartir vos points de compétence</h3>

            <p>Les compétences vous permettent de spécifier les domaines d'expertise de votre personnage.</p>

            {% if context == 'register' %}
            <p>Au niveau 1, vous pouvez attribuer <strong class="text-info">{{ dndinstance_character_characterusedskill.getTotalCountPointMax(characterUsed)-dndinstance_character_characterusedskill.getTotalCountPointCurrent(characterUsed) }}
                    points</strong> à votre personnage.</p>
            {% elseif context == 'edit' or context == 'levelUp' %}
                <p>Vous avez attribué {{ dndinstance_character_characterusedskill.getTotalCountPointCurrent(characterUsed) }} sur
                        {{ dndinstance_character_characterusedskill.getTotalCountPointMax(characterUsed) }} points.</p>

                <p class="text-center text-info">Il vous reste <strong>{{ dndinstance_character_characterusedskill.getTotalCountPointMax(characterUsed)-dndinstance_character_characterusedskill.getTotalCountPointCurrent(characterUsed) }}
                        points</strong> à attribuer.</p>
            {% endif %}
            <br />
            <p><small>Pour plus de détails, consultez le <a href="http://documents.karl-pineau.fr/d&d/Manuels/MdJ.pdf" target="_blank">Manuel des Joueurs</a>.</small></p>
        </div>
        <div class="well">
            <h4>Distinguez :</h4>
            <ul>
                <li>les compétences de classe (1 point attribué = 1 point d'expertise)</li>
                <li>les compétences hors classe (1 point attribué = 0.5 point d'expertise)</li>
            </ul>
            <p>Au niveau {{ dndinstance_character_characterusedclassdnd.getMainLevel(characterUsed) }}, vous pouvez attribuer :</p>
            <ul>
                <li>{{ dndinstance_character_characterusedclassdnd.getMainLevelInstance(characterUsed).classSkillModifier }} points par compétence de classe</li>
                <li>{{ dndinstance_character_characterusedclassdnd.getMainLevelInstance(characterUsed).ofClassSkillModifier }} points par compétence hors classe</li>
            </ul>
            <p>Les compétences de classe d'un {{ dndinstance_character_characterusedclassdnd.getMainClassDnD(characterUsed).name }} sont :</p>
            <ul>
                {% for skill in dndinstance_character_characterusedclassdnd.getMainClassDnD(characterUsed).skills %}
                    <li>{{ skill.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </aside>
</div>
{% endblock %}
    
{% block javascripts_block %}
    {% javascripts  '@DnDInstanceCharacterBundle/Resources/public/js/characterUsedAddSkill.js'  %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
