{# src/Game/GameBundle/Resources/views/Game/register.html.twig #}
 
{% extends "GameGameBundle:Game:layout.html.twig" %}

{% block title %}
    Edition - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    Edition
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    {% if game.name != null %}
        <li><a href="{{ path('game_game_game_view', {'slug': game.slug}) }}">{{game.name}}</a></li>
    {% endif %}
    <li class="active">Edition</li>
{% endblock %} 

{% block PM_body %}
<div class="row">
    <section id="content" class="col-lg-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="well">
            {% include "GameGameBundle:Game:Edit/edit_content.html.twig" %}
        </div>
    </section>
</div>
{% endblock %}
    
{% block javascripts_block %}
    {% javascripts  '@GameGameBundle/Resources/public/js/*'  %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
