{# src/DnDInstance/CharacterBundle/Resources/views/CharacterUsed/register_content.html.twig #}

<form class="form-horizontal" method="post" {{ form_enctype(form) }} role="form">
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
        {{ form_errors(form.user) }}
        {{ form_errors(form.game) }}
    </div>
    <br />
    {% endif %}

    <fieldset>
        <legend>Paramètres généraux :</legend>

        <div class="form-group">
            {{ form_label(form.user, "Propriétaire :", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
            <div class="col-md-9">
                {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.game, "Partie :", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
            <div class="col-md-9">
                {{ form_widget(form.game, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </fieldset>
    {{ form_rest(form) }}
    <div class="text-center"><input type="submit" class="btn btn-primary" /></div>
</form>