{# src/DnDInstance/CharacterBundle/Resources/views/CharacterUsed/register.html.twig #}
 
{% extends "DnDInstanceCharacterBundle:CharacterUsed:layout.html.twig" %}

{% block title %}
    Nouveau Personnage - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    Nouveau Personnage
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Nouveau Personnage</li>
{% endblock %} 

{% block PM_body %}
<div class="row">
    <section id="content" class="col-lg-8">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="well">
            {% include "DnDInstanceCharacterBundle:CharacterUsed:Register/register_content.html.twig" %}
        </div>
    </section>
    <aside class="col-lg-4">
        <div class="well">
            <h3>Aide et documentation</h3>
            <p>Pour plus d'information sur le choix des races et des classes, reportez-vous à :</p>
            <ul>
                <li><a href="http://documents.karl-pineau.fr/d&d/" target="_blank">la documentation de Donjons et Dragons</a></li>
                <li><a href="{{ path('pm_help_public_home') }}" target="_blank">l'aide du jeu</a></li>
            </ul>
        </div>
    </aside>
</div>
{% endblock %}
    
{% block javascripts_block %}
    {% javascripts '@DnDInstanceCharacterBundle/Resources/public/js/registerCharacterUsed.js'  %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
