<form class="form-horizontal"  action="{{ path('dndinstance_monster_monster_generatemonster', {'slug': game.slug}) }}" method="post" {{ form_enctype(form) }} role="form">
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
        {{ form_errors(form.monster) }}
        {{ form_errors(form.number) }}
    </div>
    <br />
    {% endif %}

    <fieldset>
        <div class="form-group">
           <div class="col-md-3 control-label">
                {{ form_label(form.monster, "Monstre :", {'label_attr': {'class': 'control-label'}}) }}
            </div>
            <div class="col-md-6">
                {{ form_widget(form.monster, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.number, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </fieldset>
    {{ form_rest(form) }}
    <div class="text-center"><input type="submit" class="btn btn-default" /></div>
</form>