{# src/DnDRules/EquipmentBundle/Resources/views/Equipment/register_content.html.twig #}

<form class="form-horizontal"  action="{{ path('dndinstance_equipment_equipment_instanceforcharacter', {'characterSlug': characterUsed.slug}) }}" method="post" {{ form_enctype(form) }} role="form">
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
        {{ form_errors(form.equipment) }}
    </div>
    <br />
    {% endif %}

    <fieldset>

        <div class="form-group">
           <div class="col-md-3 control-label">
                {{ form_label(form.equipment, "Equipement :", {'label_attr': {'class': 'control-label'}}) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.equipment, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </fieldset>
    {{ form_rest(form) }}
    <div class="text-center"><input type="submit" class="btn btn-default" /></div>
</form>