{# src/DnDInstance/CharacterBundle/Resources/views/CharacterUsed/view_home.html.twig #}
<div class="row">
    <div class="col-md-6">
        <h2>Valeurs de Caractéristique :</h2>
        <table class="table table-bordered table-hover">
            <caption>Caractéristiques :</caption>
            <thead>
                <tr>
                    <th>Caractéristiques</th>
                    <th>Mod.</th>
                    <th>Détail</th>
                </tr>
            </thead>
            {% for abilityName, abilityValue in abilities %}
                {% set abilityModifier = dndinstance_character_characterusedability.getAbilityModifier(abilityValue) %}
                <tr>
                    {% if abilityName == "strength" %}<th><a href="{{path('dndrules_ability_ability_view', {'slug': 'force'})}}" target="_blank">Force</a></th>
                    {% elseif abilityName == "dexterity" %}<th><a href="{{path('dndrules_ability_ability_view', {'slug': 'dextérité'})}}" target="_blank">Dextérité</a></th>
                    {% elseif abilityName == "constitution" %}<th><a href="{{path('dndrules_ability_ability_view', {'slug': 'constitution'})}}" target="_blank">Constitution</a></th>
                    {% elseif abilityName == "intelligence" %}<th><a href="{{path('dndrules_ability_ability_view', {'slug': 'intelligence'})}}" target="_blank">Intelligence</a></th>
                    {% elseif abilityName == "wisdom" %}<th><a href="{{path('dndrules_ability_ability_view', {'slug': 'sagesse'})}}" target="_blank">Sagesse</a></th>
                    {% elseif abilityName == "charisma" %}<th><a href="{{path('dndrules_ability_ability_view', {'slug': 'charisme'})}}" target="_blank">Charisme</a></th>
                    {% endif %}    
                    <td>{% if abilityModifier >= 0%}+{% endif %}{{abilityModifier}}</td>
                    <td>{% if abilityValue >= 0%}+{% endif %}{{abilityValue}} = </td>
                </tr>
            {% endfor %}
        </table>
    </div>
        
    <div class="col-md-6">
        <h2>Options de Combat :</h2>
        <table class="table">
            <caption>Attaque de base</caption>
            <tr>
                <th class="text-center">Mod. Lutte</th>
                <th class="text-center"><abbr title="Bonus de Base à l'Attaque">BBA</abbr></th>
                <th class="text-center">Mod. Force</th>
                <th class="text-center">Mod. Taille</th>
            </tr>
            <tr class="text-right">
                <th class="text-right">
                {% for grappleModifier in grappleModifiers %}
                    +{{grappleModifier}}
                {% endfor %}
                </th>
                <td>
                {% for bab in babs %}
                    +{{bab.value}}
                {% endfor %}
                </td>
                <td>
                {% for abilityName, abilityValue in abilities %}
                    {% set abilityModifier = dndinstance_character_characterusedability.getAbilityModifier(abilityValue) %}
                    {% if abilityName == "strength" %}   
                        {% if abilityModifier >= 0%}+{% endif %}{{abilityModifier}}
                    {% endif %} 
                {% endfor %}
                </td>
                <td>{{characterUsed.race.size.modifier}}</td>
            </tr>
        </table>
            
        <table class="table">
            <caption>Classe d'Armure</caption>
            <tr>
                <th class="text-center">CA</th>
                <th class="text-center">#</th>
                <th class="text-center">Armure</th>
                <th class="text-center">Bouclier</th>
                <th class="text-center">Mod. Dext.</th>
                <th class="text-center">Mod. Taille</th>
                <th class="text-center"><abbr title="Bonus d'Armure Naturelle">BAN</abbr></th>
                <th class="text-center"><abbr title="Bonus de Parade">BdP</abbr></th>
            </tr>
            <tr class="text-right">
                <th class="text-right">{{ac}}</th>
                <td>= 10</td>
                <td>+{{dndinstance_character_characteruseddnd.getArmorBonus(characterUsed)}}</td>
                <td>+{{dndinstance_character_characteruseddnd.getSCBonus(characterUsed)}}</td>
                <td>
                {% for abilityName, abilityValue in abilities %}
                    {% set abilityModifier = dndinstance_character_characterusedability.getAbilityModifier(abilityValue) %}
                    {% if abilityName == "dexterity" %}   
                        {% if abilityModifier >= 0%}+{% endif %}{{abilityModifier}}
                    {% endif %} 
                {% endfor %}
                </td>
                <td>{{characterUsed.race.size.modifier}}</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </table>
        <div class="row">
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>CA de Contact :</dt>
                    <dd>{{touchAC}}</dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>CA de Pris au dépourvu :</dt>
                    <dd>{{fFAC}}</dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt title="Vitesse de déplacement au sol">Vitesse :</dt>
                    <dd>{{speed}}</dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>Mod. Initiative :</dt>
                    <dd>{{initiative}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
            
<div class="row">
    <div class="col-md-6">
        <h2>Jets de Sauvegarde :</h2>
        <div class="list-group">
            <dl class="list-group-item dl-horizontal">
                <dt>Réflexe</dt>
                <dd>{{fortitude}}</dd>
            </dl>
            <dl class="list-group-item dl-horizontal">
                <dt>Vigueur</dt>
                <dd>{{reflex}}</dd>
            </dl>
            <dl class="list-group-item dl-horizontal">
                <dt>Volonté</dt>
                <dd>{{will}}</dd>
            </dl>
            {% if dndrules_race_race.getST(characterUsed.race) != null %}
            <dl class="list-group-item dl-horizontal">
                <dt>Particularités de classe</dt>
                <dd>{{ dndrules_race_race.getST(characterUsed.race).specificity|raw }}</dd>
            </dl>
            {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        
    </div>
</div>