{# src/DnDRules/MonsterBundle/Resources/views/Monster/register_content.html.twig #}

<form class="form-horizontal" method="post" action="{{ path('dndrules_monster_monster_edit_fight', {'id': monster.id, 'context': context}) }}" {{ form_enctype(form) }} role="form">
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
        {{ form_errors(form.powerfullFactor) }}
        {{ form_errors(form.initiative) }}
        {{ form_errors(form.bab) }}
        {{ form_errors(form.bfb) }}
        {{ form_errors(form.ac) }}
        {{ form_errors(form.touchAC) }}
        {{ form_errors(form.ffAC) }}
    </div>
    <br />
    {% endif %}

    <fieldset>
        <legend>Attaque :</legend>

        <div class="form-group">
            {{ form_label(form.bab, "Bonus de Base à l'Attaque :", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
            <div class="col-md-9">
                {{ form_widget(form.bab, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.bfb, "Bonus de Lutte :", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
            <div class="col-md-9">
                {{ form_widget(form.bfb, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Classe d'Armure :</legend>

        <div class="form-group">
           <div class="col-md-3 control-label">
                {{ form_label(form.ac, "Classe d'Armure :", {'label_attr': {'class': 'control-label'}}) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.ac, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3 control-label">
                {{ form_label(form.touchAC, "Contact :", {'label_attr': {'class': 'control-label'}}) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.touchAC, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3 control-label">
                {{ form_label(form.ffAC, "Pris au dépourvu :", {'label_attr': {'class': 'control-label'}}) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.ffAC, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Autre :</legend>

        <div class="form-group">
            {{ form_label(form.initiative, "Modificateur d'Initiative :", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
            <div class="col-md-9">
                {{ form_widget(form.initiative, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.powerfullFactor, "Facteur de Puissance :", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
            <div class="col-md-9">
                {{ form_widget(form.powerfullFactor, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </fieldset>
        <br />
    {{ form_rest(form) }}
    <div class="text-center"><input type="submit" class="btn btn-primary" /></div>
</form>