{# src/DnDRules/ArmorBundle/Resources/views/Armor/index.html.twig #}
 
{% extends "DnDRulesArmorBundle:Armor:layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %} 
    
{% block h1 %}
    Armures
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Accueil</li>
{% endblock %}

{% block h1_extend %}
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary" href="{{ path('dndrules_armor_armor_insert') }}"><i class="fa fa-plus" aria-hidden="true"></i></a>
    {% endif %}
{% endblock %}
    
{% block PM_body %}
<div class="row">
    <section class="col-lg-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert col-lg-7 alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <table class="table table-striped" style="width: 100%">
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Type</th>
            </tr>
            {% for armor in listArmors %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ path('dndrules_armor_armor_view', { 'slug' : armor.slug} ) }}">{{ armor.name }}</a></td>
                    <td><a href="{{ path('dndrules_armor_armortype_view', { 'slug' : armor.type.slug} ) }}">{{ armor.type.name }}</a></td>
                </tr>
            {% else %}
                <tr>
                    <th colspan="5" class="text-center">Aucun Armure connu.</th>
                </tr>
            {% endfor %}
        </table>
    </section>
</div>
{% endblock %}