{# src/DnDRules/ArmorBundle/Resources/views/Armor/view.html.twig #}
 
{% extends "DnDRulesArmorBundle:Armor:layout.html.twig" %}

{% block title %}
    {{ armor.name }} - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    {{ armor.name }} :
{% endblock %}
    
{% block h1_extend %}
    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-primary" href="{{ path('dndrules_armor_armor_edit', {'slug': armor.slug}) }}" >Modifier</a>
    <a class="btn btn-danger main-JS-delete" href="{{ path('dndrules_armor_armor_delete', {'slug': armor.slug}) }}" >Supprimer</a>
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">{{armor.name}}</li>
    <li class="active">Voir</li>
{% endblock %} 

{% block PM_body %}
<div class="row">
    <section id="content" class="col-lg-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="row">
            <div class="col-md-6">
                {% if armor.description is not empty %}
                    <div class="well">
                        {{ armor.description|raw }}
                    </div>
                {% else %}
                    <div class="alert alert-warning" role="alert">Aucune description fournie pour ce armure.</div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <h2>Informations :</h2>
                <div class="list-group">
                    <dl class="list-group-item dl-horizontal">
                        <dt class="list-group-item-heading">Bonus d'Armure</dt>
                        <dd class="list-group-item-text">
                            {% if armor.bonus is not empty %}{{armor.bonus}}{% endif %}
                        </dd>
                    </dl>
                    <dl class="list-group-item dl-horizontal">
                        <dt class="list-group-item-heading" title="Bonus de dextérité maximal">Bonus de dextérité maximal</dt>
                        <dd class="list-group-item-text">
                            {% if armor.dexterityBonus is not empty %}{{armor.dexterityBonus}}{% endif %}
                        </dd>
                    </dl>
                    <dl class="list-group-item dl-horizontal">
                        <dt class="list-group-item-heading" title="Malus d'armure aux tests">Malus d'armure aux tests</dt>
                        <dd class="list-group-item-text">
                            {% if armor.testMalus is not empty %}{{armor.testMalus}}{% endif %}
                        </dd>
                    </dl>
                    <dl class="list-group-item dl-horizontal">
                        <dt class="list-group-item-heading" title="Risque d'échec des sorts profanes">Risque d'échec des sorts profanes</dt>
                        <dd class="list-group-item-text">
                            {% if armor.failRisks is not empty %}{{armor.failRisks}}%{% endif %}
                        </dd>
                    </dl>
                    <dl class="list-group-item dl-horizontal">
                        <dt class="list-group-item-heading" title="Vitesse de déplacement (M)">Vitesse de déplacement (M)</dt>
                        <dd class="list-group-item-text">
                            {% if armor.speedM is not empty %}{{armor.speedM}}{% endif %}
                        </dd>
                    </dl>
                    <dl class="list-group-item dl-horizontal">
                        <dt class="list-group-item-heading" title="Vitesse de déplacement (P)">Vitesse de déplacement (P)</dt>
                        <dd class="list-group-item-text">
                            {% if armor.speedP is not empty %}{{armor.speedP}}{% endif %}
                        </dd>
                    </dl>
                    <dl class="list-group-item dl-horizontal">
                        <dt class="list-group-item-heading">Type</dt>
                        <dd class="list-group-item-text">
                            {% if armor.type is not empty %}<a href="{{ path('dndrules_armor_armortype_view', {'slug': armor.type.slug}) }}">{{armor.type.name}}</a>{% endif %}
                        </dd>
                    </dl>
                    <dl class="list-group-item dl-horizontal">
                        <dt class="list-group-item-heading">Prix</dt>
                        <dd class="list-group-item-text">
                            {% if armor.price is not empty %}{{armor.price}}{% endif %}
                        </dd>
                    </dl>
                    <dl class="list-group-item dl-horizontal">
                        <dt class="list-group-item-heading">Poids</dt>
                        <dd class="list-group-item-text">
                            {% if armor.weight is not empty %}{{armor.weight}}{% endif %}
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}