{% extends "DnDInstanceCharacterBundle:CharacterUsed:layout.html.twig" %}

{% block title %}
    {{ characterUsed.name }} - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    {{ characterUsed.name }}
{% endblock %}

{% if app.user == characterUsed.user or is_granted('ROLE_ADMIN') %}
    {% set allowEdit = true %}
{% else %}
    {% set allowEdit = false %}
{% endif %}

{% block h1_extend %}
    {% if allowEdit == true %}
    <div class="btn-group">
        <a class="btn btn-primary" href="{{ path('dndinstance_characterused_characterused_edit', {'id': characterUsed.id}) }}" >Modifier</a>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="{{ path('dndinstance_characterused_characterused_edit_hpmax', {'id': characterUsed.id}) }}" >PV Max</a></li>
            <li><a href="{{ path('dndinstance_characterused_characterused_edit_abilities', {'id': characterUsed.id}) }}" >Cara.</a></li>
            <li><a href="{{ path('dndinstance_characterused_characterused_edit_skills', {'id': characterUsed.id}) }}" >Comp.</a></li>
            <li><a href="{{ path('dndinstance_characterused_characterused_edit_gift', {'id': characterUsed.id}) }}" >Dons</a></li>
            <li role="separator" class="divider"></li>
            <li><a class="bg-danger main-JS-delete" href="{{ path('dndinstance_characterused_characterused_delete', {'id': characterUsed.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</a></li>
        </ul>
    </div>
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">{{characterUsed.name}}</li>
{% endblock %} 

{% block PM_body %}
    {% include 'DnDInstanceCharacterBundle:CharacterUsed:View/view_content.html.twig' %}

    {% if newLevel == true %}
        {% include 'DnDInstanceCharacterBundle:CharacterUsed:View/view_newLevel.html.twig' %}
    {% endif %}
{% endblock %}

{% block javascripts_block %}
    {# javascripts  '@DnDInstanceCharacterBundle/Resources/public/js/characterUsedAddSkill.js'  %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts #}

    {% if newLevel == true %}
        <script>
            $(document).ready(function() {
                $('#newLevelModal').modal('show');
            });
        </script>
    {% endif %}
{% endblock %}