{# src/DnDInstance/CharacterBundle/Resources/views/CharacterUsed/view_gifts.html.twig #}
<h4>Mes sorts :</h4>
<div class="panel-group" id="accordionSortView" role="tablist" aria-multiselectable="true">
    {% for sortInstance in characterUsed.sorts %}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingSortView-{{ loop.index }}">
            <div class="pull-right">
                <a href="{{ path('dndinstance_sort_sort_removeInstance', {'id_sortInstance': sortInstance.id, 'id_characterUsed': characterUsed.id}) }}"><i class="fa fa-remove"></i></a>
            </div>
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordionSortView" href="#collapseSortView-{{ loop.index }}" aria-expanded="true" aria-controls="collapseSortView-{{ loop.index }}">
                    {{ sortInstance.sort.name }}
                </a>
            </h4>
        </div>
        <div id="collapseSortView-{{ loop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSortView-{{ loop.index }}">
            <div class="panel-body">
                <a href="{{path('dndrules_sort_sort_view', {'slug': sortInstance.sort.slug})}}" target="_blank">En savoir plus sur {{ sortInstance.sort.name }}</a>
            </div>
        </div>
    </div>
    {% else %}
        <div class="panel panel-default">
            <div class="panel-body">
                Aucun sort pour le moment.
            </div>
        </div>
    {% endfor %}
</div>