{# src/Game/GameBundle/Resources/views/Game/index.html.twig #}
 
{% extends "GameGameBundle:Game:layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %} 
    
{% block h1 %}
    Parties
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block h1_extend %}
    {% if is_granted("ROLE_ADMIN") %}<a href="{{ path('game_game_game_insert') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>{% endif %}
{% endblock %}
    
{% block PM_body %}
<div class="row">
    <section class="col-xs-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert col-sm-12 alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <table class="table table-striped" style="width: 100%">
            <tr>
                <th>#</th>
                <th>Nom</th>
            </tr>
            {% for game in listGames %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ path('game_game_game_view', { 'slug' : game.slug, 'context': 'inline', 'profile': 'short'} ) }}">{{ game.name }}</a></td>
                </tr>
            {% else %}
                <tr>
                    <th colspan="5" class="text-center">Aucune partie connu.</th>
                </tr>
            {% endfor %}
        </table>
    </section>
</div>
{% endblock %}