{# src/DnDRules/ClassDnDBundle/Resources/views/ClassDnD/view.html.twig #}
 
{% extends "DnDRulesClassDnDBundle:ClassDnD:layout.html.twig" %}

{% block title %}
    {{ classDnD.name }} - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    {{ classDnD.name }}
{% endblock %}
    
{% block h1_extend %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="btn-group">
            <a class="btn btn-primary" href="{{ path('dndrules_classdnd_classdnd_edit', {'slug': classDnD.slug}) }}" >Modifier</a>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a class="" href="{{ path('dndrules_classdnd_classdnd_edit_bab', {'slug': classDnD.slug}) }}" >Edit BAB</a></li>
                <li><a class="" href="{{ path('dndrules_classdnd_classdnd_edit_st', {'slug': classDnD.slug}) }}" >Edit ST</a></li>
                <li><a class="" href="{{ path('dndrules_classdnd_classdnd_edit_sort', {'slug': classDnD.slug}) }}" >Edit Sort</a></li>
                <li><a class="" href="{{ path('dndrules_classdnd_classspecificitiy_edit', {'id': classDnD.id}) }}" >Edit Spécificités</a></li>
                <li><a class="" href="{{ path('dndrules_classdnd_classdnd_generateLevel', {'slug': classDnD.slug}) }}" >GenerateLevel</a></li>
                <li role="separator" class="divider"></li>
                <li><a class="bg-danger main-JS-delete" href="{{ path('dndrules_classdnd_classdnd_delete', {'slug': classDnD.slug}) }}" ><i class="fa fa-trash"></i> Supprimer</a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">{{classDnD.name}}</li>
{% endblock %} 

{% block PM_body %}
<div class="row">
    <section id="content" class="col-lg-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id="UserTab">
                <li role="presentation" class="active"><a href="#classDnD-home" aria-controls="classDnD-home" role="tab" data-toggle="tab">Présentation</a></li>
                <li role="presentation"><a href="#classDnD-levels" aria-controls="classDnD-levels" role="tab" data-toggle="tab">Niveaux</a></li>
                <li role="presentation"><a href="#classDnD-specificities" aria-controls="classDnD-specificities" role="tab" data-toggle="tab">Spécificités</a></li>
                <li role="presentation"><a href="#classDnD-sorts" aria-controls="classDnD-sorts" role="tab" data-toggle="tab">Sorts</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="classDnD-home">
                    {% include 'DnDRulesClassDnDBundle:ClassDnD:View/view_home.html.twig' %}
                </div>
                <div role="tabpanel" class="tab-pane" id="classDnD-levels">
                    {% include 'DnDRulesClassDnDBundle:ClassDnD:View/view_levels.html.twig' %}
                </div>
                <div role="tabpanel" class="tab-pane" id="classDnD-specificities">
                    {% include 'DnDRulesClassDnDBundle:ClassDnD:View/view_specificities.html.twig' %}
                </div>
                <div role="tabpanel" class="tab-pane" id="classDnD-sorts">
                    {% include 'DnDRulesClassDnDBundle:ClassDnD:View/view_sorts.html.twig' %}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}