{# src/DnDRules/ClassDnDBundle/Resources/views/ClassDnD/register_content.html.twig #}

<form class="form-horizontal" method="post" {{ form_enctype(form) }} role="form">
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
        {{ form_errors(form.classSpecificities) }}
    </div>
    <br />
    {% endif %}

    <fieldset>
        <legend>Spécificités :</legend>

        {{ form_widget(form.classSpecificities) }}
    </fieldset>
        <br />
    {{ form_rest(form) }}
    <div class="text-center"><input type="submit" class="btn btn-primary" /></div>
</form>