{# src/DnDRules/WeaponBundle/Resources/views/Weapon/register.html.twig #}
 
{% extends "DnDRulesWeaponBundle:Weapon:layout.html.twig" %}

{% block title %}
    Edition - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    Edition
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    {% if weapon is defined %}<li><a href="{{ path('dndrules_weapon_weapon_view', {'slug': weapon.slug}) }}">{{weapon.name}}</a></li>{% endif %}
    <li class="active">Edition</li>
{% endblock %} 

{% block PM_body %}
<div class="row">
    <section id="content" class="col-lg-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="well">
            {% include "DnDRulesWeaponBundle:Weapon:Edit/edit_content.html.twig" %}
        </div>
    </section>
</div>
{% endblock %}
    
{% block javascripts_block %}
    {% javascripts  '@DnDRulesWeaponBundle/Resources/public/js/*'  %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
