{# src/DnDRules/WeaponBundle/Resources/views/Weapon/register_content.html.twig #}

<form class="form-horizontal" method="post" {{ form_enctype(form) }} role="form">
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
        {{ form_errors(form.name) }}
        {{ form_errors(form.description) }}
        {{ form_errors(form.weaponType) }}
        {{ form_errors(form.weaponCategory) }}
        {{ form_errors(form.priceValue) }}
        {{ form_errors(form.scope) }}
        {{ form_errors(form.weight) }}
        {{ form_errors(form.damages) }}
        {{ form_errors(form.criticals) }}
        {{ form_errors(form.handsNumber) }}
    </div>
    <br />
    {% endif %}

    <fieldset>
        <legend>Arme :</legend>

        <div class="form-group">
            {{ form_label(form.name, "Nom :", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
            <div class="col-md-9">
                {{ form_widget(form.name, {'attr': {'placeholder': "Nom de votre arme", 'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
           <div class="col-md-3 control-label">
                <span class="glyphicon glyphicon-question-sign" style="cursor: pointer;" data-content="La description de votre Arme sera utilisée comme texte descriptif de ce dernier sur sa page publique, accessible à tous." data-toggle="popover" data-container="body" data-original-title="Description" ></span>
                {{ form_label(form.description, "Description :", {'label_attr': {'class': 'control-label'}}) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': '9'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.priceValue, "Valeur monétaire :", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
            <div class="col-md-9">
                {{ form_widget(form.priceValue, {'attr': {'placeholder': "Prix de votre arme", 'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.scope, "Facteur de portée :", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
            <div class="col-md-9">
                {{ form_widget(form.scope, {'attr': {'placeholder': "Facteur de portée de votre arme", 'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.weight, "Poids :", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
            <div class="col-md-9">
                {{ form_widget(form.weight, {'attr': {'placeholder': "Poids de votre arme", 'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
           <div class="col-md-3 control-label">
                {{ form_label(form.handsNumber, "Nombre de mains nécessaire :", {'label_attr': {'class': 'control-label'}}) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.handsNumber, {'attr': {'class': 'form-control', 'rows': '9'}}) }}
            </div>
        </div>

        <div class="form-group">
           <div class="col-md-3 control-label">
                <span class="glyphicon glyphicon-question-sign" style="cursor: pointer;" data-content="Le Type de votre Arme sera utilisé pour définir quelle classe / race y a accès" data-toggle="popover" data-container="body" data-original-title="Type d'Arme" ></span>
                {{ form_label(form.weaponCategory, "Catégorie d'Arme :", {'label_attr': {'class': 'control-label'}}) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.weaponCategory, {'attr': {'class': 'form-control', 'rows': '9'}}) }}
            </div>
        </div>

        <div class="form-group">
           <div class="col-md-3 control-label">
                <span class="glyphicon glyphicon-question-sign" style="cursor: pointer;" data-content="Le Type de votre Arme sera utilisé pour définir quelle classe / race y a accès" data-toggle="popover" data-container="body" data-original-title="Type d'Arme" ></span>
                {{ form_label(form.weaponType, "Type d'Arme :", {'label_attr': {'class': 'control-label'}}) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.weaponType, {'attr': {'class': 'form-control', 'rows': '9'}}) }}
            </div>
        </div>
        <hr />
        <div class="form-group">
            {{ form_row(form.damages) }}
        </div>
        <div id="addDamage" class="text-center"></div>
        <hr />
        <div class="form-group">
            {{ form_row(form.criticals) }}
        </div>
    </fieldset>
        <br />
    {{ form_rest(form) }}
    <div class="text-center"><input type="submit" class="btn btn-default" /></div>
</form>