{# src/PM/CharacterBundle/Resources/views/DiceType/edit_content.html.twig #}

<form class="form-horizontal" method="post" action="{{ path('pm_dicetype_administration_edit', {'dicetype_id': dicetype.id}) }}" {{ form_enctype(form) }} role="form">
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
        {{ form_errors(form.dice) }}
        {{ form_errors(form.updateComment) }}
    </div>
    <br />
    {% endif %}

    <fieldset>
        <legend>Dés :</legend>

        <div class="form-group">
            {{ form_label(form.dice, "Nombre de faces :", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
            <div class="col-md-9">
                {{ form_widget(form.dice, {'attr': {'placeholder': '', 'class': 'form-control'}}) }}
            </div>
        </div>
    </fieldset>
        <hr />
    <div class="form-group">
        {{ form_label(form.updateComment, "Commentaire :", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
        <div class="col-md-9">
            {{ form_widget(form.updateComment, {'attr': {'placeholder': "A propos de l'édition", 'class': 'form-control'}}) }}
        </div>
    </div>
        <br />
    {{ form_rest(form) }}
    <div class="text-center"><input type="submit" class="btn btn-default" /></div>
</form>