{# src/DnDRules/MonsterBundle/Resources/views/Monster/register.html.twig #}
 
{% extends "DnDRulesMonsterBundle:Monster:layout.html.twig" %}

{% block title %}
    Edition - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    Edition
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    {% if monster.id != null %}
        <li><a href="{{ path('dndrules_monster_monster_view', {'slug': monster.slug}) }}">{{monster.name}}</a></li>
        <li class="active">Edition</li>
    {% else %}
        <li class="active">Insertion</li>
    {% endif %}
{% endblock %} 

{% block PM_body %}
<div class="row">
    <section id="content" class="col-lg-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="well">
            {% include "DnDRulesMonsterBundle:Monster:Edit/edit_content.html.twig" %}
        </div>
    </section>
</div>
{% endblock %}
    
{% block javascripts_block %}
    {% javascripts  '@DnDRulesMonsterBundle/Resources/public/js/monster_edit.js'  %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
