<form class="form-horizontal" method="post" {{ form_enctype(form) }} role="form">
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form.poAdd) }}
        {{ form_errors(form.paAdd) }}
        {{ form_errors(form.paAdd) }}
    </div>
    <br />
    {% endif %}

    <fieldset>
        <legend>Richesse de {{characterUsed.name}} :</legend>

        <p class="text-center"><strong>Combien souhaitez-vous ajouter/retirer de pièces ?</strong></p>
        <div class="form-group">
            {{ form_label(form.poAdd, "Pièces d'or :", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
            <div class="col-md-3">
                {{ form_widget(form.poAdd, {'attr': {'class': 'form-control', 'value': 0}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.paAdd, "Pièces d'argent :", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
            <div class="col-md-3">
                {{ form_widget(form.paAdd, {'attr': {'class': 'form-control', 'value': 0}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.pcAdd, "Pièces de cuivre :", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
            <div class="col-md-3">
                {{ form_widget(form.pcAdd, {'attr': {'class': 'form-control', 'value': 0}}) }}
            </div>
        </div>
    </fieldset>
    {{ form_rest(form) }}
    <div class="text-center"><input type="submit" class="btn btn-default" /></div>
</form>